{% extends 'base.html.twig' %}

{% block title %}History Page{% endblock %}

{% block body %}

    <div class="blue-bg"></div>
    <div class="dark-bg shadow"></div>
    <div class="content">
        <h1>Histoire de l’empire Inca:</h1>
        <div class="flex flex-col">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <p>
                    Si l’empire Inca n’a connu son apogée que peu de temps avant l’arrivée des Espagnols, son origine
                    prend racine pendant le XII° siècle de notre ère. Selon la légende, le premier empereur, Manco
                    Capac, sortit des eaux du lac Titicaca avec son épouse ; il entendit la voix de son père le Dieu
                    solaire Inti, lui disant de trouver Q’osqo, le nombril du monde, pour y enfoncer un bâton d’or
                    jusqu’à le faire disparaitre ; là, serait la vallée fertile où se développerait la nouvelle
                    civilisation qui règnerait sur le monde. Il est le premier des treize empereurs incas qui se
                    succèderont jusqu’à la chute de leur domination. Les historiens, eux, estiment effectivement que
                    cette civilisation prend son origine dans la région de la Vallée Sacrée, rendue puissante par la
                    fertilité de son environnement, mais qu’elle aurait surtout des origines amazoniennes.
                </p>
                <p>
                    C’est à partir de 1438 que l’empire prend vraiment son essor. Suite à une bataille perdue d’avance
                    contre leurs terribles voisins, les Chankas, l’Inca Viracocha fuit, et c’est son fils qui reprend
                    les commandes du royaume. Lorsqu’il atteint (par miracle) la victoire, celui-ci s’autoproclame
                    neuvième empereur, Pachacutec (en quechua, «celui qui transforme le monde»). A partir de ce
                    moment-là, il commence une conquête foudroyante dans le but de soumettre les peuples voisins. C’est
                    également Pachacutec qui entreprit la construction des grandes œuvres qui marquèrent la ville de
                    Cusco (il fit construire le Qoricancha et un Palais sur la Place d’Armes), et les arrangements
                    agricoles (détournements de rivières, etc.) qui permirent la prospérité agricole du peuple.
                    Considéré comme le Napoléon des Incas, c’est lui qui imposa la réforme vers une organisation
                    suffisamment forte pour gérer un empire tout entier. Ses successeurs, Tupac Yupanqui et Huayna
                    Capac, élargirent l’empire, du sud de la Colombie au nord du Chili.

                </p>
            </div>
        </div>

        <div>
            <div>
                <p>
                    L’organisation interne de l’empire inca était exceptionnelle, car elle avait réussi à maintenir un
                    certain ordre impérial dans un territoire immense, avec des populations très diverses, et avec très
                    peu de communication. Pour assurer l’unification de l’empire, plusieurs stratégies étaient
                    utilisées. D’abord, imposer le culte du dieu solaire Inti sans interdire les cultes locaux, ceux-ci
                    s’adaptant donc afin d’intégrer cette variante culturelle inca. Ensuite, l’envoi de colons
                    cusquéniens vers les territoires annexés (avec des promesses d’ascension sociale), et le transfert
                    des populations vers la campagne lointaine pour cultiver, mélangées avec d’autres peuples, afin de
                    brouiller les identités culturelles. L’empire, appelé Tahuantinsuyo, était divisé en quatre
                    ‘’quartiers’’, se rejoignant dans la ville de Cusco, le nombril du monde. Les routes à travers les
                    montagnes et les vallées, le fameux chemin inca, étaient les seules voies de communications
                    disponibles ; des postes relais étaient présents à intervalles régulières le long de la route. Au
                    cœur de cet empire, une organisation de fer était nécessaire pour maintenir l’ordre. Une armée forte
                    et une bureaucratie bien organisée, assuraient le bon fonctionnement de l’empire. Une des
                    caractéristiques de l’organisation de l’empire est la mise en commun de tous les biens et du
                    paiement des impôts sous forme de temps de travail ; la redistribution des ressources entre les
                    différentes régions et selon les nécessités (catastrophes naturelles, etc.). Enfin, l’arme absolue
                    de domination inca a probablement été l’élément théocratique que cette civilisation : l’empereur
                    n’était pas ‘’que’’ un empereur ; c’était un dieu vivant, le représentant et l’incarnation du dieu
                    Soleil sur terre. Une fois les peuples convaincus de cet état des choses, la rébellion était
                    beaucoup plus compliquée à mener, car l’empire inca avait réussi à pénétrer au plus profond des
                    consciences, dans la cosmovision même de ces peuples.
                </p>
            </div>
            <div>
                <img src="" alt="">
            </div>
        </div>

        <div>
            <p>
                Mais de nombreux augures, prédictions et rumeurs courraient sur la fin de cet empire, avant même que
                Pizarro et les Espagnols ne mettent un pied sur le continent sud-américain. La rivalité à la succession
                au trône des deux fils de Huayna Capac, Huascar (originaire de Cusco), et Atahualpa (de Quito, au nord),
                commençait déjà à semer des troubles politiques sur le pouvoir suprême de l’empire. Une guerre civile
                éclate, Atahualpa kidnappe son frère, et les peuples soumis en profitent pour revendiquer leur
                indépendance, sinon une plus grande autonomie : c’est dans ce contexte de chaos interne qu’arrive
                Pizarro. Plus préoccupé par le désordre interne que par l’arrivée de quelques créatures étranges à la
                peau blanche, Atahualpa ne prend pas garde, et est capturé à Cajamarca par quelques conquistadors :
                c’est la première victoire espagnole. En échange de sa liberté, Atahualpa promet une rançon fabuleuse
                d’or et d’argent ; depuis sa prison, il fait assassiner son frère, par peur que celui-ci ne reprenne le
                trône. Mais une fois la rançon donnée, évidemment, Atahualpa ne fut pas libéré mais bel et bien
                assassiné. Avec la mort d’Atahualpa, véritable dieu vivant pour les Incas, c’est l’empire tout entier
                qui est décapité ; la débandade commence. L’arrivée à Cusco en 1533 se solde par des pillages et bien
                des batailles, relativement difficiles (quelques dizaines d’Espagnols seulement étaient présents), mais
                Pizarro arrive à repousser les Incas de plus en plus loin dans la vallée, les obligeant même à se
                réfugier dans la jungle épaisse, à Vilcabamba. Le triomphe espagnol est désormais complet, et le pillage
                des richesses peut commencer en toute tranquillité.
            </p>
        </div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <p>

                    Après ces épisodes sanglants, le cœur économique et social du pays se tourne vers la côte, et vers
                    la Cité des Rois, l’actuelle Lima, centre des échanges entre l’Espagne et ses colonies, et 1er port
                    majeur des Amériques espagnoles. Cusco devient une simple ville provinciale, sans intérêt
                    particulier, et les maisons coloniales ont remplacé peu à peu les imposants murs Incas. La trace la
                    plus flagrante de cela : la construction de l’église de Santo Domingo sur le centre cérémoniel du
                    Qoricancha. La révolte de Tupac Amaru II en 1780 se déroula dans la cité impériale, symbole de
                    l’héritage inca oublié, mais la répression meurtrière sur la même Place d’Arme marqua tout aussi
                    symboliquement l’état de domination à Cusco et dans tout le Pérou. En dehors de cela, aucun
                    évènement marquant n’est venu perturber le cours tranquille des choses dans la ville de Cusco, ni
                    plus ni moins que dans le reste du pays. C’est, en fait, la ‘’redécouverte’’ du Machu Picchu en 1911
                    qui marque le plus grand changement pour l’histoire de la ville.
                </p>
            </div>
        </div>

    </div>


{% endblock %}
