@import "btnSummary";

//.video_header {
//  width: 100vw;
//}

.cult-header {
  width: 100%;

  img {
    object-fit: cover;
    height: 70vh;
    width: 100%;
    object-position: top;
  }
}

#videos {
  background-color: rgba(0, 0, 0, 0.86);
  height: 500px;
  text-align: center;
}

.cult-content {

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 42px;
    margin: 2em;
    text-align: center;
  }

  h3 {
    font-size: 32px;
    margin: 1em 0;
  }

  h6 {
    font-size: 24px;
    font-weight: initial;
    margin: 1em 2em;
  }

  p {
    margin: 2em 0;
    text-align: justify;
  }

  .h7 {
    margin: 5em 0;
    text-align: center;
  }

  .p-r {
    margin-left: 3em;
  }

  .italic {
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
  }

  .marge {
    margin: 7em 0;
  }

  .p-l {
    margin-right: 3em;
  }

  .bold {
    font-weight: bold;
  }

  div.full-img img {
    width: 100%;
    max-height: 65vh;
    object-fit: contain;
  }

  .intro-cult {
    margin: 2em auto;

    .txt p {
      font-size: 22px;
    }
  }

  #social {
    div.full-img img {
      height: auto;
    }

    .inca img {
      width: 35vw;
    }

    .femmes img {
      width: 35vw;
    }
  }

  #agriculture {
    .terraces img {
      width: 30vw;
    }

    .intro {
      text-align: center !important;
      font-size: 22px;
    }

    .qollqa img {
      margin-top: 2em;
    }
  }

  #life {
    .full-img img {
      margin: 2em 0;
    }

    .symbole img {
      width: 35vw;
    }

    .crane img {
      width: 60%;
      margin: 2em;
    }

    .crane-d img {
      width: 25vw;
      height: 250px;
    }

    .quipus img {
      width: 25vw;
      height: 50vh;
    }

    .messager img {
      width: 25vw;
    }

    .symbole3 {
      margin-left: 1em;

      img {
        width: 35vw;
      }
    }

    .horloge img {
      width: 35vw;
    }

    .tissus img {
      width: 35vw;
    }
  }

  #religion {
    h2 {
      padding-bottom: 0;
    }

    .ancetre img {
      height: 300px;
    }

    .inti img {
      width: 20vw;
    }

    .pachacamac img {
      height: 900px;
    }

    .momie img {
      width: 35vw;
    }

    .squelette img {
      height: 450px;
    }
  }

  #architecture {
    .mur img {
      width: 40vw;
      height: 500px;
    }

    .title-archi {
      margin: 1em;
    }

    .fenetre img {
      width: 40vw;
    }
  }


  h2 {
    margin: 0;
    padding: 1em;
  }
}

@media screen and (max-width: 980px) {
  .cult-content {
    div.full-img img {
      max-height: 700px;
    }

    #social {
      .social-inca {
        flex-direction: column;

        .p-l {
          margin: 0;
        }

        .txt {
          order: 2;
        }

        .inca {
          justify-content: center;

          img {
            width: 40vw;
            height: auto;
          }
        }
      }
    }

    #life {
      h2 {
        margin: 1em;
      }

      .life-alim {
        flex-direction: column;

        .p-l {
          margin-right: 0;
        }

        .txt {
          order: 2;
        }

        .symbole {
          justify-content: center;
        }
      }

      .educ {
        flex-direction: column;
        align-items: center;
      }

      .temps {
        flex-direction: column;
        align-items: center;

        .p-l {
          margin-right: 0;
        }

        .txt {
          order: 2;
        }
      }

      .vetements {
        flex-direction: column;
        justify-content: center;

        .tissus img {
          width: 100%;
          height: 400px;
        }

        .p-r {
          margin-left: 0;
        }

        .txt {
          order: 2;
        }
      }
    }

    #religion {

      .deces .p-r{
        margin: 3em 0;

      }
      .culte {
        flex-direction: column;
        align-items: center;

        .p-l {
          margin-right: 0;
        }

        .ancetre {
          order: 1;
          margin-right: 0;
        }
      }

      .sacrifice {
        flex-direction: column;
        align-items: center;

        .p-l {
          margin-right: 0;
        }

        .momie {
          margin-right: 0;

          img {
            width: 100%;
            height: 400px;
          }
        }
      }

      .pachacamac img {
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 865px) {
  .cult-content {
    h2, h3 {
      text-align: center;
    }

    .intro-cult {
      flex-direction: column;
      align-items: center;

      .p-r {
        margin-left: 0;
      }

      div.txt p {
        margin: 1em 0;
        order: 1;
        font-size: 18px;
      }

      .img {
        order: 2;
      }
    }

    #social {
      .place-femmes {
        flex-direction: column;
        align-items: center;

        .p-r {
          margin-left: 0;
        }
      }
    }

    #agriculture {
      .p-terraces {
        flex-direction: column;
        align-items: center;

        .terraces {
          order: 1;

          img {
            width: 50vw;
            margin-right: 0;
          }
        }
      }
    }

    #life {
      .deform {
        flex-direction: column;
        align-items: center;

        .p-l {
          margin-right: 0;
        }

        .txt {
          order: 1;
        }
      }

      .quipus img {
        margin-left: 0;
        width: 45vw;
        height: auto;
      }

      .ecriture {
        flex-direction: column;
        align-items: center;

        .p-r {
          margin-left: 0;
        }
      }

      .mess {
        flex-direction: column;
        align-items: center;

        .p-l {
          margin-right: 0;
        }

        .txt {
          order: 2;
        }

        .messager {
          margin-right: 0;

          img {
            width: 40vw;
          }
        }
      }

      .crane-d img {
        width: 80%;
        margin: 0 auto;
      }
    }

    #religion {
      .deces {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;

        p {
          margin: 1em 2em 1em 0;
        }
      }
    }

    #architecture {
      .mur-p {
        flex-direction: column;
        align-items: center;

        .mur img {
          height: auto;
        }
      }

      .fenetre-p {
        flex-direction: column;
        align-items: center;

        .txt {
          order: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 754px) {
  .cult-content {

    #social .femmes img {
      width: 45vw;
    }

    #religion {
      .ancetre img {
        width: 30vw;
        height: auto;
      }

      .inti-p {
        flex-direction: column;
        align-items: center;

        .p-l {
          margin-right: 0;
        }

        .inti {
          margin-right: 0;
        }
      }

      .sacrifice .momie img {
        width: 50%;
        height: auto;
        margin: auto;
      }

      .deces {
        margin-left: 0;

        p {
          margin: 2rem;
        }
      }

      .squelette img {
        height: auto;
        width: 50%;
      }

      #religion .religion img {
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 485px) {
  .cult-content {
    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 36px;
      margin: 1em;
    }

    h3 {
      font-size: 24px;
    }

    h6 {
      font-size: 15px;
    }

    p {
      font-size: 12px;
    }

    .intro-cult {
      div.txt p {
        font-size: 15px;
      }

      div.img {
        display: flex;
        justify-content: center;

        img {
          width: 50%;
        }
      }
    }

    #btn-summary {
      width: 25px;
      height: 25px;

      input {
        width: 25px;
        height: 25px;
      }

      span {
        width: 18px;
        margin: 4px 2px;
      }

      span.vertical {
        margin-top: 13px;
      }
    }

    #btn-summary {
      left: 3px;
    }

    #summary {
      width: 200px;
      margin: -50px 0 0 -50px;
      padding-top: 50px;


      li {
        font-size: 15px;
      }
    }

    #social {
      .full-img img {
        width: 110%;
      }
    }

    #agriculture .intro {
      text-align: center !important;
      font-size: 15px;
    }

    #life {
      .crane-d img {
        height: auto;
        margin-right: 0;
      }

      .vetements .tissus img {
        height: 200px;
      }
    }

    #religion {
      .religion img {

      height: auto;
    }
      div.flex.marge.inti-p {
        margin: 1em 0;
      }
    }
  }
  #videos h2 {
    font-size: 24px;
    text-align: center;
  }
}
