@import "variable";
@import "timeline";
//-----Form page-----
.blue-bg {
  position: fixed;
  background: url("../images/history_header.jpg");
  background-size: cover;
  top: 0;
  height: 1000px;
  width: 100vw;
  z-index: -1;
  overflow-x: hidden;
}

.dark-bg {
  position: absolute;
  top: 19em;
  background-color: $background;
  margin: 200px 0;
  width: 100vw;
  height: 4500px;
  transform: skewY(5deg);
  z-index: -1;
}

.content-history {
  position: absolute;
  top: 20em;
  margin: 18em auto;
  padding: 0 4em;
  width: 100%;
  height: auto;
  background-color: $background;

  p {
    text-align: justify;
    margin-top: 15px;
  }
}

.shadow {
  box-shadow: -2px -5px 5px 0px rgba(0, 0, 0, 0.3);
}

//-----Content-----

.content-history {
  h1 {
    margin-bottom: 2em;

  }

  div.div-map {
    .div-txt-map {
      width: 70%;
    }

    .div-img-map {
      img {
        width: 300px;
        height: 400px;
      }
    }
  }


  div.text-history-col {
    margin-top: 2em;

    .div-img {
      .statOr {
        width: 500px;
        height: 550px;
      }

      .war {
        width: 500px;
      }
    }

    .div-txt {
      width: 70%;
    }

    .txt-r p {
      padding-left: 1em;
    }

    .txt-r .drop-cap::first-letter {
      font-size: 45px;
      font-family: Quando, serif;
    }

    .txt-l {
      padding-right: 2em;
    }
  }
}
@media screen and (max-width: 1346px){
.dark-bg{
  height: 5000px;
}
}
@media screen and (max-width: 1170px) {
  .dark-bg{
    height: 4500px;
  }
  .content-history {
    p {
      font-size: 15px;
    }

    div.text-history-col {
      .div-img {
        .statOr {
          width: 300px;
          height: auto;
        }

        .war {
          width: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: 1010px) {
  .dark-bg {
    height: 5000px;
  }
  .content-history {
    height: 4200px;
  }
}

@media screen and (max-width: 950px) {
  .dark-bg {
    height: 5700px;
  }
  .content-history div.text-history-col .txt-r p {
    padding-left: 0;
  }
  .content-history {

    div {
      width: 100%;
    }

    div.text-history-col {
      flex-direction: column;
      align-items: center;

      div.text-r p, div.txt-l {
        padding-left: 0;
        padding-right: 0;
      }

      div, .div-txt, .div-txt-map {
        width: 100%;
        justify-content: center;
      }

      .div-img {
        display: flex;
        justify-content: center;
      }

    }
  }
}

@media screen and (max-width: 710px) {
  .dark-bg {
    height: 5900px;
  }
  .content-history div.text-history-col .txt-r p {
    padding-left: 0;
  }
  .content-history {

    div {
      width: 100%;
    }

    div.text-history-col {
      flex-direction: column;
      align-items: center;

      div.text-r p, div.txt-l {
        padding-left: 0;
        padding-right: 0;
      }

      div, .div-txt, .div-txt-map {
        width: 100%;
        justify-content: center;
      }

      .div-img {
        display: flex;
        justify-content: center;
      }

    }
  }
}

@media screen and (max-width: 660px) {
  .dark-bg {
    margin: 0;
    height: 5300px;
  }
  .content-history {
    top: 3em;
    padding: 0 1em;

    p {
      font-size: 12px;
      letter-spacing: 1px;
    }

    h1 {
      font-size: 44px;
    }
  }
}

@media screen and (max-width: 565px) {
  .dark-bg {
    height: 5200px;
  }
  .content-history {
    height: 5000px;

    div.text-history-col .div-img {

      .statOr {
        width: 200px;
      }

      .war {
        width: 200px;
      }
    }

  }
  .content-history div.div-map .div-img-map img {
    width: 150px;
    height: auto;
    margin-top: 1em;
  }
}

@media screen and (max-width: 465px) {
  .dark-bg {
    height: 5500px;
  }
}

@media screen and (max-width: 365px) {
  .content-history {
    height: 6000px;
  }
}

//----Timeline------> (import)

.timeline-title {
  margin-top: 3em;

  h2 {
    font-size: 36px;
  }

  p {
    margin-top: 2em;
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 1170px) {
  .timeline-title p {
    font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  .content-history h2 {
    font-size: 26px;
  }
  .timeline-title p {
    font-size: 18px;
  }
}
