
.header {
  width: 100%;
  height: 100vh;
  background: url("../images/home_header.jpg") no-repeat center;
  @import "variable";

  //----Menu Burger---
  #menuToggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    background-color: $BgText;
    padding: 6px;
    border-radius: 10px;

    a {
      text-decoration: none;
      color: $nav;

      transition: color 0.3s ease;

      &:hover {
        color: tomato;
      }
    }

    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
      -webkit-touch-callout: none;

      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(3px, 1px);
        background: #fff;
      }

      &:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 3px);
      }

      &:checked ~ ul {
        transform: none;
      }
    }

    span {
      display: block;
      width: 23px;
      height: 2px;
      margin: 5px;
      position: relative;

      background: #fff;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }
  }

  #menu {
    position: absolute;
    width: 100vw;
    margin-top: -65px;
    padding: 30px 50px 10px;
    right: -50px;
    //background:  $text;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    display: flex;
    justify-content: center;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    li {
      padding: 10px 0;
      font-size: 15px;
      margin: 0 2rem;
    }
  }

  //--Socials items----
  .social {
    padding-top: 53vh;
    a {
      margin-top: 10px;
    }
  }
}